.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 100px;
    font-weight: 600;
    height: 100vh;
}

.imgContainer > img {
    border-radius: 50%;
    padding: 7px;
    background: linear-gradient( 45deg, var( --color-gaming-yellow ) -15%, var( --color-gaming-red ) 100% );
}

.profileBox {
    text-align: center;
}
.profileBox > span {
    width: 100%;
    display: inline-block;
    font-family: var( --font-family-secondary );
    font-weight: 900;
    font-size: 2rem;
    margin: 20px 0;
}