.navigationBar {
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var( --color-string-yellow );
}

.navigationBar > h1 {
    font-weight: 800;
    font-size: 1.5rem;
    color: black;
    margin-left: 200px;
}

.navigationBar > ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: black;
    margin-right: 200px;
}

.navigationBar > ul > li {
    list-style: none;
    margin: 0 15px;
    padding: 5px 10px;
}