html {
  --color-gaming-red: #FC3A52;
  --color-gaming-yellow: #F9B248;
  --color-string-yellow: #E8D5B7;
  --color-comment-grey: #575757;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Code Pro','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #090909;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}