html {
  --color-gaming-red: #FC3A52;
  --color-gaming-yellow: #F9B248;
  --color-string-yellow: #E8D5B7;
  --color-comment-grey: #676767;
  --color-primary-black: #090909;
  
  --h1-default-size: 2.25rem;

}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: var( --color-primary-black );
}

a {
  text-decoration: none;
}

code {
  font-family: 'Source Code Pro', monospace;
}

/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;900&display=swap'); */