html {
  --color-gaming-red: #FC3A52;
  --color-gaming-yellow: #F9B248;
  --color-string-yellow: #E8D5B7;
  --color-comment-grey: #676767;
  --color-primary-black: #090909;
  
  --h1-default-size: 2.25rem;
  --font-family-primary: 'Source Code Pro', monospace;
  --font-family-secondary: 'Nunito', sans-serif;
}

body {
  margin: 0;
  font-family: var( --font-family-primary );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: var( --color-primary-black );
}

a {
  text-decoration: none;
}

code {
  font-family: var( --font-family-primary );
}